@model Models.ViewModels.NewsViewModel


@Html.Partial("_PageTitle")

<div class="container-fluid">
    <div class="main-content noMarginNoPaddingHorizontal">
        <div class="col-md-12 noMarginNoPaddingHorizontal">
            <div class="col-md-12 col-xs-12 noMarginNoPaddingHorizontal" id="NotPublishedNewsDiv">
                @Html.Partial("~/Views/Admin/News/_NotPublishedNews.cshtml", Model)
            </div>
            <div class="col-md-12 col-xs-12 noMarginNoPaddingHorizontal" id="PublishedNewsDiv">
                @Html.Partial("~/Views/Admin/News/_PublishedNews.cshtml")
            </div>

        </div>
    </div>
</div>



@section scripts {
    @Html.ScriptImportContent("~/Scripts/Views/Admin/News/Index.js")
}

