@model Models.ViewModels.NewsViewModel


@Html.Partial("_AdminTitle")
<div>
    <div class="container-fluid">
        <div class="main-content">
            <div class="col-md-12 no-gutter">
                <div class="col-md-2 col-xs-12 pull-right">
                    <a  class="btn website-btn" id="AddNews" href="/Admin/EditNews" ><span class="glyphicon glyphicon-plus paddingGlyph"></span>[[[Add a News]]]</a>
                </div>


            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/Views/Admin/News/Index.js?@Commons.StaticFileVersion.StaticFileVersionString"></script>

}

