@model Models.ViewModels.NewsViewModel


@Html.Partial("_PageTitle")
<div>
    <div class="container-fluid">
        <div class="main-content">
            <div class="col-md-12 no-gutter">
                <div class="col-md-12 col-xs-12" id="NotPublishedNewsDiv">
                    @Html.Partial("~/Views/Admin/News/_DisplayNotPublishedNews.cshtml", Model)
                </div>
                <div class="col-md-12 col-xs-12" id="PublishedNewsDiv">
                    @Html.Partial("~/Views/Admin/News/_DisplayPublishedNews.cshtml")
                </div>

            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/Views/Admin/News/Index.js?@CommonsConst.StaticFileVersion.StaticFileVersionString"></script>

}

