@WebsiteColor1: #6699ff;
@WebsiteColor2: #BBD2FF;

.main-content {
    margin: 30px 0 0px 0 !important;
}


.form-group.required .control-label:after {
    content: "*";
    color: red;
}

.websiteFormGroup {
    min-height: 62px;
}

.bgColorWebsite {
    background-color: @WebsiteColor1 !important;
}

.bgColorWebsite2 {
    background-color: @WebsiteColor2 !important;
}

.ColorWebsite {
    color: @WebsiteColor1 !important;
    }

    .ColorWebsite2 {
        color: @WebsiteColor2 !important;
    }


    .website-btn:hover {
        background: transparent;
        color: @WebsiteColor1;
        cursor: pointer;
        margin: 10px 0 10px 0;
        text-align: center;
        padding: 10px;
        opacity: 1;
        text-decoration: none;
        display: block;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
        -o-transition: all .2s ease;
        line-height: 24px;
        transition: 0.2s ease;
        box-shadow: none;
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 2.4rem;
        padding: 15px 40px;
        border: 3px @WebsiteColor1 solid;
    }



    .website-btn {
        background: none repeat scroll 0 0 @WebsiteColor1;
        color: #ffffff;
        margin: 10px 0 10px 0;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        display: block;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
        border: 3px @WebsiteColor1 solid;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        line-height: 24px;
        cursor: pointer;
        box-shadow: 0 2px 0 @WebsiteColor1;
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 2.4rem;
        padding: 15px 40px;
    }


    .includeFAIcon {
        float: right;
        margin-right: 8px;
        margin-top: -25px;
        position: relative;
        z-index: 2;
    }



    html {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    html, body {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    body {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.2rem;
        color: #414042;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: #f3f3f3;
    }

    p {
        font-family: 'Open Sans', sans-serif;
        color: #414042;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    #wrapper {
        width: 100%;
        background-color: #ffffff;
    }


    .vertical-alignment-helper {
        display: table;
        height: 100%;
        width: 100%;
        pointer-events: none;
    }

    .vertical-align-center {
        /* To center vertically */
        display: table-cell;
        vertical-align: middle;
        pointer-events: none;
    }
    /* MODAL */
    .modal-content {
        /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
        width: inherit;
        max-width: inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
        height: inherit;
        /* To center horizontally */
        margin: 0 auto;
        pointer-events: all;
    }

    .divCloseModal {
        position: relative;
        height: 1px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .closeLoginModal {
        position: absolute;
        right: 13px;
        top: -12px;
    }


    .SmallModalResponsive {
        width: 315px;
    }


    @media (max-width: 480px) {
        .SmallModalResponsive {
            vertical-align: inherit;
            margin-top: 0px;
        }
    }


    @media (min-width: 600px) {
        .SmallModalResponsive {
            width: 430px;
        }
    }


    .modal {
        text-align: center;
    }

    .modal-dialog {
        text-align: left;
    }

    body {
        padding-right: 0 !important
    }
    /* END MODAL 
*/
    /*This is for .NET validation errors since sometimes they show in black*/
    .field-validation-error, .validation-summary-errors, .text-danger {
        color: #E61616;
        font-size: 14px;
        text-align: left;
    }

    .floatRight {
        float: right;
    }

    .circular {
        border-radius: 50%;
    }

    .relativePos {
        position: relative;
    }

    .fix-at-top {
        position: fixed;
        right: 0;
        left: 0;
        top: 0px;
        z-index: 5;
    }

    .paddingGlyph {
        padding-right: 12px;
    }



    .greyBG {
        background-color: #F2F2F2 !important;
    }

    a {
        cursor: pointer;
    }

    .noMarginNoPaddingHorizontal {
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }


    .greenButton:hover {
        border-color: rgba(45,191,183, 0.8);
        background-color: rgba(45,191,183, 1);
        color: #fff;
    }

    .greenButton {
        background-color: rgba(45,191,183, 0.8);
        border-color: rgba(45,191,183, 0.8);
        color: #fff;
    }

    .AdminTitle {
        text-align: center;
        border-top: solid 5px @WebsiteColor1;
        height: 25px;
    }

    .back-to-top {
        z-index: 999;
        cursor: pointer;
        position: fixed;
        height: 50px;
        width: 50px;
        border: 0;
        border-radius: 50%;
        bottom: 50px;
        right: 50px;
        text-align: right;
        padding-top: 13px;
        background: @WebsiteColor1;
        display: none;
    }

    .LoginLink {
        padding-left: 0px !important;
        text-align: right;
        border-right: 1px solid @WebsiteColor1;
    }

    .spinner > .bouncer {
        width: 50px;
        height: 50px;
        background-color: @WebsiteColor1;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

.note-editor
{
    display:none;
}