<table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;padding-top:0px;">
    <tr>
        <td style="padding:20px 05px 020px 05px;line-height:18px;text-align:inherit;"
            height="100%"
            valign="top"
            bgcolor="">
            <div>
                <div style="font-family: arial; font-size: #SizeText#; color: rgb(0, 0, 0); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
                    <p style="color: rgb(128, 130, 133); font-family: sans-serif; font-size: #SizeText#; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; background-color: rgb(255, 255, 255); line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr"><span style="color:#000000;"><span style="font-size: #SizeText#;"><span id="docs-internal-guid-a8c53a15-a6db-c237-d8c9-4c0c8d4eaeb8"><span style="font-family: Arial; white-space: pre-wrap;">Si vous avez des questions, n'hésitez pas à nous contacter!</span></span></span></span></p>
					<div style="font-family: arial; font-size: #SizeText#;">&nbsp;</div>
                    <div style="color: rgb(128, 130, 133); font-family: sans-serif; font-size: #SizeText#; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; background-color: rgb(255, 255, 255);">
                        <br>
                        <span style="color:#000000;"><span style="font-size: #SizeText#;"><span id="docs-internal-guid-a8c53a15-a6bf-00bf-e02a-afc13b699443"><span style="font-family: Arial; white-space: pre-wrap;"><span id="docs-internal-guid-a8c53a15-a6c3-b8af-da19-84d258690bb4"><span style="font-family: Arial;"><span id="docs-internal-guid-a8c53a15-a6d9-c53d-fdef-dffbb5899903"><span style="font-family: Arial;"><span id="docs-internal-guid-a8c53a15-a6db-c237-d8c9-4c0c8d4eaeb8"><span style="font-family: Arial;">Cordialement,</span></span></span></span></span></span></span></span></span></span>
			</div>
			<div style="font-family: arial; font-size: #SizeText#; color: rgb(0, 0, 0); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">&nbsp;</div>

			<div style="font-family: arial; font-size: #SizeText#; color: rgb(0, 0, 0); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
			<div style="font-family: arial; font-size: #SizeText#;">&nbsp;</div>
			<div style="font-family: arial; font-size: #SizeText#;">
			<div style="font-family: arial; font-size: #SizeText#; background-color: rgb(255, 255, 255);">
			<div style="font-family: arial; font-size: #SizeText#;">
			<div style="font-family: arial; font-size: #SizeText#; background-color: rgb(255, 255, 255);"><span style="color:#333333;"><strong><span style="font-family: arial, helvetica, sans-serif;"><span style="white-space: pre-wrap;">#Signature#</span></span></strong></span></div>
			<br>
			<div style="font-family: arial; font-size: #SizeText#; background-color: rgb(255, 255, 255);">

			</div>
			</div>
			</div>
			</div>
			</div>
			</div>
        </td>
      </tr>
    </table>