<p style="Margin-top: 0;font-weight: normal;color: #ColorText#;font-family: sans-serif;font-size: 16px;Margin-bottom: 30px;Margin-top: 10px;line-height: 22px">Dear #UserFirstName#,</p>
<p style="Margin-top: 0;font-weight: normal;color: #ColorText#;font-family: sans-serif;font-size: 16px;Margin-bottom: 15px;line-height: 22px">We have received a request to reset your password.</p>
<p style="Margin-top: 0;font-weight: normal;color: #ColorText#;font-family: sans-serif;font-size: 16px;Margin-bottom: 20px;line-height: 22px">If you did not make the request, just ignore this message. Otherwise, you can reset your password using this link:</p>
<div id="btn-container" style="text-align:center;Margin-bottom: 30px;margin-top:30px;cursor:pointer">
    <a href="#ResetPasswordUrl#" style='background: #ColorElement# ;    color: white;
                                        font-family: sans-serif, Verdana, Tahoma;
                                        padding: 10px;
                                        min-width: 200px;
                                        text-align: center;
										font-size: 16px;
                                        width: auto;
                                        margin: auto;
                                        border-radius: 6px;
                                        border: none;'>Click here to reset your password</a>
</div>

<p style="Margin-top: 0;font-weight: normal;color: #ColorText#;font-family: sans-serif;font-size: 16px;Margin-bottom: 20px;line-height: 22px"> Regards,</p>
<p style="Margin-top: 0;font-weight: normal;color: #ColorText#;font-family: sans-serif;font-size: 16px;Margin-bottom: 20px;line-height: 22px"> #Signature#</p>
