
<table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
    <tr>
        <td style="padding:020px 05px 0px 05px;line-height:16px;text-align:inherit;"
            height="100%"
            valign="top"
            bgcolor="">
            <div style="font-family: arial; font-size: #SizeText#; color: rgb(0, 0, 0); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">


                <p style="text-align:center;color: rgb(128, 130, 133); font-family: sans-serif; font-size: #SizeText#; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; background-color: rgb(255, 255, 255); line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;" dir="ltr">
                    <span style="color:#000000;">
                        <span style="font-size: #SizeText#;">
                            <span id="docs-internal-guid-a8c53a15-a6bd-66bc-e16e-291ec11e4bcd">
                                <span style="font-family: Arial; white-space: pre-wrap;font-weight:bold;text-align:center;font-size:28px;color:#ColorElement#">#Title#</span>
                            </span>
                        </span>
                    </span>
                </p>

                <span style="font-family: Arial; white-space: pre-wrap;margin-top:40px;">
                    #Description#
                </span>


            </div>
        </td>
    </tr>
</table>

