

    #newUserWelcomePg .plsTxt {
        padding: 20px 0;
    }

    #newUserWelcomePg .welcomeTo {
        padding-bottom: 30px;
    }


.modal-headers {
    font-weight: bold;
    text-align: center;
    font-size: 26px;
    padding-bottom: 20px;
}


#newUserWelcomePg {
    background-image: linear-gradient(rgba(27,27,27,0.6),rgba(27,27,27,0.6)), url(/Ressources/Files/Images/SignUp/signupwelcome.jpg);
    background-size: cover;
    padding: 3em 1em;
}



.white-txt {
    color: white;
}

.welcomeTo {
    padding-bottom: 30px;
}




.SignUpPictureTitle {
    padding-bottom: 18px;
}

