.iconListNav
{
    margin-right:8px;
}


.divMyProfile {
    margin: 0;
    padding: 0;
    display: inline;
}

.MyProfilePanel-header {
    color: #484848;
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    border-bottom: 1px solid #dce0e0;
    font-weight: bold;
    background-color: #DEE3DE;
}

.MyProfilePanel-Body {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top:25px;
    margin-bottom:25px;
}

@media (min-width: 992px) {

    .MyProfilePanel-Body {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }

}


.MyProfilePanel {
    border-radius: 0;
    border: 1px solid #dce0e0;
    padding-left: 0px;
    padding-right: 0px;
}

#MyProfileMainDiv {
    padding-top: 30px;
    padding-right: 0px;
    padding-left: 30px;
}

#divDeleteProfile {
    text-align: center;
    padding-top: 7px;
    padding-bottom: 10px;
}

#PictureDiv {
    width: 250px;
    height: 250px;
    border: 5px #f2f2f2 solid;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.divButtonMyProfilePhoto
{
    height:125px;
}

@media (min-width: 992px) {

    .divButtonMyProfilePhotoHaut {
        margin-top:30px;
    }
}
