.navigation li a {
    padding: 10px 20px 10px 20px;
    line-height: 40px;
    z-index: 100;
    font-size: 1.85rem;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a::after {
   
}

.dropdown-menu li a {
    padding: 10px 20px 10px 20px;
    line-height: 40px;
    z-index: 100;
    font-size: 1.6rem;
}



.brand-logoNav {
    height: 40px;
    display: block;
}



.sub-nav .navbar {
    margin: 0;
}

#homeNavDefault.navbar-default {
    background-color: transparent;
    border-color: transparent;
}



.nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    line-height: 1.42857;
    margin-right: 2px;
    BACKGROUND: #EEE;
    COLOR: #555;
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.navigationLink {
    font-size: 1.7rem;
    line-height: 2.4rem;
}

#banner-contentBrowser {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

.customAlertBrowser {
    margin-bottom: 0px !important;
    padding: 10px !important;
}

.UserPic {
    width: 30px;
    height: 30px;
    border-radius: 50%; /*don't forget prefixes*/
    margin: 0px 5px 3px 0px;
}