

@Html.Partial("_PageTitle")
<div>
    <div class="container-fluid">
        <div class="main-content">
            <h2>[[[Oups...An error has occured]]] :(</h2>
            @{
                if (!String.IsNullOrEmpty(ViewBag.ErrorType))
                {
                    <h5>@ViewBag.ErrorType</h5>
                }
            }
        </div>
    </div>
</div>

@section scripts {
   <script src="~/Scripts/General/StopSpinner.js?@CommonsConst.StaticFileVersion.StaticFileVersionString"></script>
}


