@{ 

    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("_PageTitle")
<div>
    <div class="container-fluid">
        <div class="main-content" style="text-align:center;padding-bottom:40px;">
            <h2>[[[Oups...An error has occured]]] :(</h2>
            @{
                if (!String.IsNullOrEmpty(ViewBag.ErrorType) && !Commons.Utils.IsProductionWebsite())
                {
                    <h5>@ViewBag.ErrorType</h5>
                }
            }
        </div>
    </div>
</div>

@section scripts {
   <script src="~/Scripts/General/StopSpinner.js?@CommonsConst.StaticFileVersion.StaticFileVersionString"></script>
}


