<div>
    <div class="container-fluid">
        <div class="main-content">

        </div>
    </div>
</div>

@section scripts {
   <script src="~/Scripts/Views/Home/Index.js?@Commons.StaticFileVersion.StaticFileVersionString"></script>
}



