<div>
    <div class="container-fluid">
        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
            @if (!User.Identity.IsAuthenticated)
            {
            <div class="col-md-4 col-md-offset-4 col-xs-12">
                <input  value="[[[Start now for free]]]" class="btn website-btn"  id="StartNowHomePage" />
            </div>
            }
        </div>
    </div>
</div>

<link href="~/Content/Views/Home/_VideoHomePage.css" rel="stylesheet" />



@section scripts {
<script src="~/Scripts/Views/Home/Index.js?@Commons.StaticFileVersion.StaticFileVersionString"></script>
<script src="~/Scripts/Views/Home/_VideoHomePage.js?@Commons.StaticFileVersion.StaticFileVersionString"></script>
}



