
@if (!HttpContext.Current.Request.Url.AbsolutePath.Contains("Login"))
{
    <li><a href="" data-toggle="modal" data-target="#loginOrSignInModal" onclick="ShowSecretlyLogInForm();recordGoToUrl(null)">Log In</a></li>
}
<script src="~/Scripts/Views/Account/_SignUp.js?@CommonsConst.StaticFileVersion.StaticFileVersionString"></script>
<link href="~/Content/Views/Shared/_LoginModal.css" rel="stylesheet" type="text/css">


<div class="modal fade" id="loginOrSignInModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog SmallModalResponsive vertical-align-center" role="document">
            <div class="modal-content" >
                <div id="loginOrSignInModalBody" class="modal-body" >
                    <div class="divCloseModal" style="padding-top:10px;">
                        <button id="closeLoginModal" type="button" class="close closeLoginModal" data-dismiss="modal">&times;</button>
                    </div>
                    @if (!HttpContext.Current.Request.Url.AbsolutePath.Contains("Login"))
                    {
                        <div id="LoginForm" style="display:none">
                            @Html.Action("_LoginForm", "Account")
                        </div>
                    }
                    <div id="SignUpForm" style="display:none">
                        @Html.Action("_SignUpForm", "Account")
                    </div>
                </div>
                <div id="SignUpProcessPages" style="display: none;">
                    @Html.Partial("~/Views/Account/_SignUpProcessPages.cshtml")
                </div>
                <div id="SignUpWelcomePage" style="display: none;">
                    @Html.Partial("~/Views/Account/_SignUpWelcome.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>



