
@if (!HttpContext.Current.Request.Url.AbsolutePath.Contains("Login"))
{
    <li><a href="" data-toggle="modal" data-target="#loginOrSignInModal" onclick="recordGoToUrl(null)">Log In</a></li>
}
<link href="~/Content/Views/Shared/_LoginModal.css" rel="stylesheet" type="text/css">


<div class="modal fade" id="loginOrSignInModal" tabindex="-1" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog SmallModalResponsive vertical-align-center" role="document">
            <div class="modal-content">
                <div id="loginOrSignInModalBody" class="modal-body" style="margin-top:20px;margin-bottom:20px;">
                    <div class="divCloseModal">
                        <button id="closeLoginModal" type="button" class="close closeLoginModal" data-dismiss="modal">&times;</button>
                    </div>
                    @if (!HttpContext.Current.Request.Url.AbsolutePath.Contains("Login"))
                    {
                        <div id="LoginForm" style="display:none">
                            @Html.Action("_LoginForm", "Account")
                        </div>
                    }
                    <div id="SignUpForm" style="display:none">
                        @Html.Action("_SignUpForm", "Account")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    function recordGoToUrl(shouldGoTo) {
        if (shouldGoTo == null) {
            $('#CentralGoToUrl').val('@HttpContext.Current.Request.Url.AbsolutePath'); // optional param not passed in, so use current page url
        } else {
            $('#CentralGoToUrl').val(shouldGoTo);
        }
    }
</script>