
<div class="col-xs-12 col-md-12"  style="margin-bottom:7px;margin-top:0px;padding-top:0px;">
    <div class="row" style="margin-bottom:5px">
        <div class="col-xs-12 col-md-12 noMarginNoPaddingHorizontal">
            <p class="red textPasswordPolicy textPasswordStrength">[[[Password Strength :]]] <span class="ScorePasswordStrength">Very weak</span>  </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-md-2 red noMarginNoPaddingHorizontal">
            <span style="margin-bottom:-8px" class="glyphicon glyphicon-remove red IconUpperCaseLetter" ></span>
        </div>
        <div class="col-xs-10 col-md-10 noMarginNoPaddingHorizontal">
            <p class="red textPasswordPolicy textUpperCaseLetter" > [[[at least one upper case letter]]] </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-md-2 noMarginNoPaddingHorizontal">
            <span style="margin-bottom:-2px" class="glyphicon glyphicon-remove red IconLowerCaseLetter"></span>
        </div>
        <div class="col-xs-10 col-md-10 noMarginNoPaddingHorizontal">
            <p class="red textPasswordPolicy textLowerCaseLetter" >[[[at least one lower case letter]]] </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-md-2 noMarginNoPaddingHorizontal">
            <span style="margin-bottom:-5px" class="glyphicon glyphicon-remove red IconOneNumber"></span>
        </div>
        <div class="col-xs-10 col-md-10 noMarginNoPaddingHorizontal">
            <p class="red textPasswordPolicy textOneNumber" >[[[at least one number]]] </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-md-2 noMarginNoPaddingHorizontal">
            <span style="margin-bottom:-5px" class="glyphicon glyphicon-remove red IconEightCharacters" ></span>
        </div>
        <div class="col-xs-10 col-md-10 red noMarginNoPaddingHorizontal">
            <p class="red textPasswordPolicy textEightCharacters" >[[[at least eight characters]]] </p>
        </div>
    </div>
</div>


