@Html.Partial("_PageTitle")


@Html.CssImportContent("~/Content/Views/Account/InvalidToken.css")

<div class="col-md-8 col-xs-12 col-md-offset-2" style="padding-top:50px;">


    <div class="col-md-10 col-xs-12 col-md-offset-1">
        <p class="invalidToken">[[[Invalid Token.]]]</p>
    </div>
    <div class="col-md-4 col-md-offset-4 col-xs-12" style="padding-top:50px;margin-bottom:60px;">
        <input type="submit" value="[[[Back]]]" class="btn website-btn BackToHomePageButton_js" />
    </div>

</div>


