@model Models.ViewModels.MyProfileViewModel

@Html.CssImportContent("~/Content/Views/Account/MyProfile.css")


@Html.Partial("_PageTitle")


<div class="col-md-10 col-xs-12 col-md-offset-1 row" style="padding-top:30px;">
    @Html.HiddenFor(m => m.UserId,new { id="HiddenUserId"})
    <div class="col-xs-12 col-md-3">
        <ul>
            <li class="navVerticalList">
                <a class="navVerticalItem navActive" id="EditProfilLink" data-action="_MyProfileEdit"><i class="fa fa-user iconListNav" aria-hidden="true"></i>[[[Edit Profile]]]</a>
            </li>
            <li class="navVerticalList">
                <a class="navVerticalItem" id="PhotosLink" data-action="_MyProfilePhotos"><i class="fa fa-picture-o iconListNav" aria-hidden="true"></i>[[[Photos]]]</a>
            </li>
            <li class="navVerticalList">
                <a class="navVerticalItem" id="TrustAndVerificationLink" data-action="_MyProfileTrustAndVerifications"><i class="fa fa-check iconListNav" aria-hidden="true"></i>[[[Trust and Verification]]]</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-9" id="divMyProfileAction">
    </div>
</div>
@section scripts {
    @Html.ScriptImportContent("~/Scripts/Views/Account/MyProfile/MyProfile.js")
}




