@Html.Partial("_PageTitle")


<link href="~/Content/Views/Account/PasswordChanged.css?@CommonsConst.StaticFileVersion.StaticFileVersionString" rel="stylesheet" />

<div class="col-md-8 col-xs-12 col-md-offset-2" style="padding-top:20px;">

    <div class="center-txt IndicationTxt" style="padding:30px 0px;">
        [[[Your password has been successfully changed.]]]
    </div>
    <div class="col-md-10 col-xs-12 col-md-offset-1" >
        @Html.Partial("_ConfirmationCheck")
    </div>
    <div class="col-md-6 col-md-offset-3 col-xs-12" style="padding-top:25px;margin-bottom:40px;">
        <input type="submit" value="[[[Back]]]" class="btn website-btn BackToHomePageButton_js"  />
    </div>

</div>


