@Html.Partial("_PageTitle")


<link href="~/Content/Views/Account/PasswordChanged.css?@CommonsConst.StaticFileVersion.StaticFileVersionString" rel="stylesheet" />

<div class="col-md-8 col-xs-12 col-md-offset-2" style="padding-top:50px;">


    <div class="col-md-10 col-xs-12 col-md-offset-1" style="margin-bottom:40px;">
        @Html.Partial("_ConfirmationCheck")
    </div>


</div>


