@model Models.ViewModels.Account.MyProfileTrustAndVerificationsViewModel



<div class="row divMyProfile">
    <div class="MyProfilePanel col-xs-12 col-md-12 noMarginNoPaddingHorizontal">
        <div class="MyProfilePanel-header noMarginHorizontal col-xs-12 col-md-12">
            [[[Trust and Verification]]]
        </div>
        <div class="col-xs-12 col-md-12 MyProfilePanel-Body">

        </div>
    </div>
</div>

@Html.ScriptImportContent("~/Scripts/Views/Account/MyProfile/_MyProfileTrustAndVerifications.js")

