@model Models.ViewModels.MyProfilePhotosViewModel


<div class="row divMyProfile">
    <div class="MyProfilePanel col-xs-12 col-md-12 noMarginNoPaddingHorizontal">
        <div class="MyProfilePanel-header noMarginHorizontal col-xs-12 col-md-12">
            [[[Photos]]]
        </div>
        <div class="col-xs-12 col-md-12 MyProfilePanel-Body">
            <div class="col-xs-12 col-xs-offset-0 col-md-6" style="text-align:center;">
                <div style="background-image: url('@Model.PictureDecryptSrc')" id="PictureDiv">
                </div>
            </div>
            <div class="col-xs-12 col-xs-offset-0 col-md-6">
                <input id="HiddenPic" name="Pic" type="file" accept="image/bmp, image/jpeg, image/png, image/gif" style="display:none;" />
                <div class="col-xs-12 col-md-10 col-md-offset-1 divButtonMyProfilePhoto divButtonMyProfilePhotoHaut" >
                    <input type="submit" value="[[[Upload a file]]]"  onclick="$('#HiddenPic').click();" class="btn website-btn" />
                </div>
                <div class="col-xs-12 col-md-10 col-md-offset-1 divButtonMyProfilePhoto">
                    <input type="submit" value="[[[Use my webcam]]]" class="btn website-btn" />
                </div>
            </div>
        </div>
    </div>
</div>

@Html.ScriptImportContent("~/Scripts/Views/Account/MyProfile/_MyProfilePhotos.js")

