@model Models.ViewModels.MyProfilePhotosViewModel


<div class="row divMyProfile">
    <div class="MyProfilePanel col-xs-12 col-md-12 noMarginNoPaddingHorizontal">
        <div class="MyProfilePanel-header noMarginHorizontal col-xs-12 col-md-12">
            [[[Photos]]]
        </div>
        <div class="col-xs-12 col-md-12 MyProfilePanel-Body row">
            <div class="col-xs-12 col-xs-offset-0 col-md-6" >
                <div style="background-image: url('@Model.PictureDecryptSrc')" id="PictureDiv">

                </div>
            </div>
            <div class="col-xs-12 col-xs-offset-0 col-md-6">

            </div>
        </div>
    </div>
</div>

@Html.ScriptImportContent("~/Scripts/Views/Account/MyProfile/_MyProfilePhotos.js")

