@model Models.ViewModels.Search.DisplaySearchViewModel




<div class="table-responsive">
    <div class="pull-right">
        <p style="font-weight:bold"><span id="numRowCount">@Model.Count</span> [[[row(s) found]]]</p>
    </div>
    <table class="table table-striped" id="userContainer">
        <thead>
            <tr style="width:100% !important;">
                <th style="width:26% !important;">[[[Name]]]</th>
                <th style="width:23% !important;">[[[User Name]]]</th>
                <th style="width:35% !important;">[[[Roles]]]</th>
                <th style="width:17% !important;">[[[Last Connection]]]</th>
                <th style="width:8% !important;"></th>
            </tr>
        </thead>

        @foreach (var item in Model.SearchList)
        {


            <tr style="width:100% !important;">
                <td style="width:26% !important;"></td>
                <td style="width:23% !important;"></td>
                <td style="width:35% !important;" >

                </td>
                <td style="width:17% !important;text-align:center">
                   
                </td>
                <td  style="width:8% !important;text-align:center">
                   
                </td>
            </tr>
        }

    </table>
</div>

@using (Html.BeginForm("_DisplayUsers", "Admin", FormMethod.Post, new { id = "_pager" }))
{
    @Html.Partial("_Pager")
    @Html.HiddenFor(m => m.Pattern)
}

<script>
    $(document).ready(function () {
        HideSpinner();
    });

</script>
