@{
    Layout = null;
}

<div class="stage">
    <input type="hidden" class="HiddenSearchTerm_js" id="HiddenSearchTerm" value="" />
    <div class="cell">
        <div class="searchbar" style="display:none">
            <input type="text" class="btn-extended noAjaxSpinner_js" placeholder="[[[Search]]]..." />
            <div class="btn-search" title="[[[Search]]]" onclick="SearchIconOnClick(this);"><i class="fa fa-search searchBarIcon"></i></div>
        </div><!-- .searchbar -->
    </div><!-- .cell -->
</div><!-- .stage -->
