@model Models.ViewModels.NewsEditViewModel


@Html.Partial("_PageTitle")
<div>
    <div class="container-fluid">
        <div class="main-content">
            <div class="col-md-12 no-gutter">
                <div>

                </div>


            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/Views/Admin/News/EditNews.js?@Commons.StaticFileVersion.StaticFileVersionString"></script>

}

