<div class="customAlertBrowser alert alert-warning" id="customAlertBrowserBanner" style="display:none">
    <div id="banner-contentBrowser">
        [[[You are currently using an out dated browser. In order to fully enjoy all the possibilities of our website, please upgrade your browser (Google Chrome, Firefox or Safari). Thanks!]]]
    </div>
</div>