<div class="cookie-notification row" style="display:none">
    <p class="col-md-10 " astyle="color: #262626; font-size: 12px; line-height: 15px; letter-spacing: .1px; padding: 0 30px 0 0;">@CommonsConst.Const.WebsiteTitle [[[and our partners use cookies to provide features on our sites and applications to improve your online experience, including for analysis of site usage, traffic measurement, and for advertising and content management. See our]]] <a href="/PrivacyPolicy" target="_blank">Privacy Policy</a> [[[for more information about cookies. By continuing to use our sites and applications, you agree to our use of cookies.]]]</p>

    <button class="col-xs-12 col-md-2 btn-close-cookie-notification">OK</button>
</div>

