
<footer style="margin-top:20px;min-height:19vh" class="panel-footer bgColorWebsite">
    <div class="container ">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <p class="small-paragraph" style="text-align-last:center;font-weight:bold;font-size:16px;color:white">COPYRIGHT 2017 Francois LARUAZ</p>
            </div>
        </div>
    </div>
</footer>