
<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Back to top" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>


<style>
    .back-to-top {
        z-index: 999;
        cursor: pointer;
        position: fixed;
        height: 50px;
        width: 50px;
        border: 0;
        border-radius: 50%;
        bottom: 50px;
        right: 50px;
        text-align: right;
        padding-top: 13px;
        background: #6699ff;
        display: none;
    }
</style>