<div id="spinner" class="complete-center" style="display:none;z-index:1255 !important;">
    <div class="spinner">
        <div class="bouncer bounce1"></div>
        <div class="bouncer bounce2"></div>
        <div class="bouncer bounce3"></div>
    </div>
    <div class="spinner-backdrop"></div>
</div>