<div style="text-align:center;margin-top:0px">
    <h1 style="color:black;font-size:45px">@ViewBag.Title</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div style="text-align:center" class="col-xs-4 col-xs-offset-4 col-md-4 col-md-offset-4 row" align="center">
            <div class="col-xs-6 col-xs-offset-3 AdminTitle" align="center"></div>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.Description))
    {
        <div class="col-xs-12 col-md-12">
            <div style="font-size:15px;padding-bottom:35px" class="col-xs-12 col-md-8 col-md-offset-2">
                @ViewBag.Description
            </div>
        </div>
    }
</div>