<section id="feature_image" class="bgColorWebsite">
    <div class="container">
        <div class="row page-intro">
            <div class="col-md-12 col-sm-12 col-sx-12">
                <h2>[[[@ViewBag.Title]]]</h2>
            </div>
        </div>
    </div>
</section>

<link href="~/Content/Views/Shared/_PageTitle.css" rel="stylesheet" />